---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Musica">
	<main>
		<div id="header">

		</div>

		<div id="col1">
			<div id="navcontainer">
			  <ul id="navlist">
				<li>Canciones griegas decada de los 60's</a></li>
				<li><a href="https://music.youtube.com/watch?v=asQjKIpBZJQ&si=HgCnps2JQpYug22Z"target="_blank">&Tau;&omicron; &Zeta;&epsilon;&iota;&mu;&beta;&epsilon;&kappa;&iota;&kappa;&omicron; &tau;&eta;&sigmaf; &Epsilon;&upsilon;&delta;&omicron;&kappa;&iota;&alpha;&sigmaf; &quot;Manos Loizos&quot;</a></li>
				<li><a href="https://music.youtube.com/watch?v=AsPUpWOX5oE&si=cotRmcjD7bgIwtXi" target="_blank">&Tau;&alpha; &Rho;&iota;&alpha;&lambda;&iota;&alpha; &quot;Stelios Kazantzidis&quot;</a></li>
				<li><a href="https://music.youtube.com/watch?v=1rlTWGm3z1U&si=3N6qx-CJlCQHPd0t" target="_blank"> &Omicron;&mu;&omicron;&rho;&phi;&eta; &Pi;&omicron;&lambda;&eta; &quot;Giannis Poulopoulos&quot;</a></li>
				<li>Canciones griegas decada de los 70's</a></li>
				<li><a href="https://music.youtube.com/watch?v=ZWMgJ6RXSww&si=r6wL_jjjMdcVcBys" target="_blank">&Zeta;&omicron;&rho;&beta;&alpha;&sigmaf; &tau;&omicron; &Epsilon;&rho;&iota;&xi;&epsilon; &quot;Mikis Theodorakis&quot;</a></li>
				<li><a href="https://music.youtube.com/watch?v=QKdIAT4vERI&si=hQ3jKfnAtcQhDJVn" target="_blank">&Zeta;&iota;&gamma;&kappa;&omicron;&upsilon;&alpha;&lambda;&alpha; &quot;Stelios Kazantzidis &quot;</a></li>
				<li><a href="https://music.youtube.com/watch?v=_XrmtJePt18&si=yf1tQIKivIiBh1t6" target="_blank">&Pi;&omicron;&lambda;&iota;&tau;&epsilon;&iota;&alpha; &quot;Dionysis Savvopoulos&quot;</a></li>
				<li>Canciones griegas decada de los 80's</a></li>
				<li><a href="https://music.youtube.com/watch?v=zWns-IjfDWk&si=fB8X5jxUZeJLeouW" target="_blank">&Mu;&alpha; &Epsilon;&sigma;&upsilon; &Pi;&omicron;&tau;&epsilon; &quot;Marinella&quot;</a></li>
				<li><a href="https://music.youtube.com/watch?v=4SeME3J28S0&si=-joKGg4iBqKqZx6t" target="_blank">&Alpha;&gamma;&omega;&nu;&iota;&alpha; &quot;Tolis Voskopoulos&quot;</a></li>
				<li><a href="https://music.youtube.com/watch?v=T1nm1KTA1l8&si=aIE8rdtUXRkzawi2" target="_blank">&Chi;&alpha;&iota;&rho;&epsilon;&tau;&iota;&sigma;&mu;&alpha;&tau;&alpha; &quot;Vasilis Papakonstantinou&quot;</a></li>
			  </ul>
			</div>
		</div>
		<div id="col2">
			<div class="roundcont">
			  <div class="roundtop"><img src="images/tl.gif" alt="tl img"  width="100" height="10" class="corner"  style="display: none" /> </div>
			  <h2>La <span style="color:#017C84;">Musica</span> griega y su importancia </h2>
			  <blockquote>La m&uacute;sica puede cambia el mundo porque cambia a las personas, es un lenguaje universal que viene del alma, el arte mas directo, entra por el o&iacute;do y va al coraz&oacute;n.</blockquote>
			  <p><img class="img" src="images/Img1.jpg" alt="" />La m&uacute;sica griega es un elemento vital de la cultura y la identidad griega, y su influencia se extiende mucho m&aacute;s all&aacute; de las fronteras del pa&iacute;s, dejando una marca indeleble en la m&uacute;sica y la cultura mundiales.</p>
			  <p>Gracias a la m&uacute;sica griega antigua se sent&oacute; las bases para muchos conceptos musicales y te&oacute;ricos que son fundamentales en la m&uacute;sica occidental moderna.</p>
			  <p>Ha sido utilizada para transmitir tradiciones, narrar historias, expresar emociones y promover la identidad nacional y la unidad.</p>
			  <p> <span style="color:#8B0000;">Historia de la musica griega</span></p> 
			  <p>En la d&eacute;cada de <span style="color:#017C84;">1960</span> el laiko, un g&eacute;nero de m&uacute;sica popular griega, experiment&oacute; un renacimiento, la m&uacute;sica pop y rock occidental tuvieron una gran influencia en la escena musical griega, esta d&eacute;cada vio el surgimiento de nuevas estrellas en la escena musical como Giannis Poulopoulos.</p>
			  <p>En la d&eacute;cada de <span style="color:#017C84;">1970</span> surgi&oacute; el movimiento de &Nu;&epsilon;&alpha; &Epsilon;&lambda;&lambda;&eta;&nu;&iota;&kappa;&eta; &Tau;&rho;&alpha;&gamma;&omicron;&upsilon;&delta;&iota;&kappa;&eta; &Sigma;&kappa;&eta;&nu;&eta; tambi&eacute;n conocido como &quot;Nueva Ola Griega&quot;. Este movimiento musical se caracteriz&oacute; por letras po&eacute;ticas y profundas, la m&uacute;sica griega en los a&ntilde;os 70 estuvo influenciada por tendencias musicales internacionales, especialmente el rock y el pop occidental.</p>
		  
			  <p>En la d&eacute;cada de <span style="color:#017C84;">1980</span> esta d&eacute;cada estuvo marcada por una combinaci&oacute;n de estilos tradicionales y modernos, el reb&eacute;tico, un g&eacute;nero de m&uacute;sica popular urbana griega, tuvo su apogeo en las d&eacute;cadas de 1920 y 1930, experiment&oacute; un resurgimiento en la d&eacute;cada de 1980.</p>
		  
			  <div class="roundbottom"><img src="images/bl.gif" alt="bl img" width="10" height="10" class="corner" style="display: none" /></div>
			</div>
		</div>
		<div id="col3">
			<div class="roundcont">
			  <div class="roundtop"><img src="images/tl.gif" alt="tl img"  width="10" height="10" class="corner"  style="display: none" /> </div>
			  <h2>A cerca de Grecia</h2>
		  
			  <p><img class="img1" src="images/pic.jpg" alt="" />Grecia es un pa&iacute;s ubicado en el sureste de Europa, en la regi&oacute;n de los Balcanes. Es conocido por su vasta historia, su influencia en el desarrollo de la civilizaci&oacute;n occidental y su herencia cultural rica y diversa.</p>
			  <p>Es ampliamente reconocida como la cuna de la civilizaci&oacute;n occidental. Durante la antig&uuml;edad, fue el hogar de grandes logros en &aacute;reas como la filosof&iacute;a, la democracia, las artes, las matem&aacute;ticas y las ciencias. Las ciudades-estado griegas, como Atenas y Esparta, fueron fundamentales en la formaci&oacute;n de la cultura occidental. </p>
			  <p>Est&aacute; ubicada en la pen&iacute;nsula balc&aacute;nica y cuenta con miles de islas dispersas por el mar Egeo y el mar J&oacute;nico. Su geograf&iacute;a monta&ntilde;osa y costera ofrece paisajes espectaculares, desde monta&ntilde;as escarpadas hasta playas de aguas cristalinas.
			  </p>
			  <p>
				Es famosa por su rica herencia cultural, que incluye la mitolog&iacute;a griega, la arquitectura antigua, las artes visuales, la literatura, la m&uacute;sica y la danza. Lugares como Atenas, donde se encuentra la Acr&oacute;polis, y Delfos, sede del Or&aacute;culo de Delfos, son destinos tur&iacute;sticos populares debido a su importancia hist&oacute;rica y arqueol&oacute;gica.
			  </p>
			  <div class="roundbottom"><img src="images/bl.gif" alt="bl img" width="10" height="10" class="corner" style="display: none" /></div>
			</div>
		</div>
		<div id="footer"> <a href="#">Homepage</a> |  &copy; 2024 Espinoza Torres Daniel Alejandro | </a> </div> 
	</main>
</Layout>

<style>
	body {
		margin : 0;
		padding : 0;
		font : 73%  "lucida sans", helvetica, "Trebuchet MS", arial, sans-serif;
		line-height : 1.8em;
		background : #E0D0B3;
		color : #333;
	}
	#header {
		height : 300px;
		margin-bottom : 0.5em;
		border-top : 10px solid #017C84;
		background : #017C84 url(banner.jpg) no-repeat;
		color : #000;
	}

	#gutter {
		float : left;
		width : 0.5%;
		height : 1px;
	}

	#col1 {
		float : left;
		width : 20%;
		margin-bottom : 1em;
		border-right : 0px solid #eee;
		padding-right : 3%;
	}
	#col2 {
		float : left;
		width : 33%;
		margin-left : 3%;
		margin-bottom : 1em;
		border-right : 0px solid #eee;
		padding-right : 3%;
	}
	#col3 {
		float : left;
		width : 27%;
		margin-left : 4%;
		margin-bottom : 1em;		
	}
	#navcontainer ul {
		margin-top : 10px;
		list-style-type : none;
		font-size : 85%;
		background : #E0D0B3;
		color : #666;
	}
	#navcontainer ul li a {
		padding : 5px;
		color : #682715;
		background : transparent url(images/list-off.gif) no-repeat left center;
		text-align : left;
		text-decoration : none;
	}
	#navcontainer ul li a:hover {
		color : #682715;
		background : transparent url(images/list-on.gif) no-repeat left center;
	}
	#navcontainer ul li a#current {
		background : transparent url(images/list-active.gif) no-repeat left center;
		color : #000;
	}
	#footer {
		clear : both;
		height : 50px;
		padding : 5px;
		text-align : left;
		border-top : 10px solid #fca404;
		background : #a03719;
		color : #000;
	}
	#footer a {
		text-decoration : none;
		color : #fca404;
		background-color : inherit;
	}
	#footer a:hover {
		text-decoration : underline;
		color : #999;
		background-color : inherit;
	}
	
	h2 {
		margin-top : 0;
		padding : 0.5em 0 0.5em 1em;
		text-transform : uppercase;
		letter-spacing : 5px;
		font-size : 140%;
		color : #682715;
		background : inherit;
	}
	a {
		text-decoration : none;
		color : #006699;
		background : inherit;
	}
	a:hover {
		text-decoration : underline;
		color : #a03719;
		background : inherit;
	}
	a img {
		border : 0;
	}
	.box {
		padding : 20px;
		color : #682715;
		background : inherit;
	}
	.roundcont {
		margin : 10px;
		width : 98%;
		background : #E9DDC9;
		color : #333;
	}
	.roundcont p {
		margin : 0 15px;
	}
	.roundtop {
		background : url(images/tr.gif) no-repeat top right;
	}
	.roundbottom {
		background : url(images/br.gif) no-repeat top right;
	}
	img.corner {
		width : 10px;
		height : 10px;
		border : none;
		display : block !important;
	}
	.img {
		float : left;
		padding : 1px;
		margin : 4px;
	}
	form { 
		margin: 0; 
	}
	.img1 {
		float : left;
		padding : 5px;
		margin : -6px;
	}
	form { 
		margin: 0; 
	}
	blockquote {
		font-weight : bold;
		font-style : italic;
		color : #000000;
	}


</style>
